.root {
  @include dimension(50%, 80dvh);
  @include flex($dir: column, $justify:space-around,$align:center);
  margin: 0 auto;

  @include mq('small') {
    @include dimension(80%, 100dvh);
  }

  &__intro {
    @include flex($dir: column, $align:center);
    @include dimension(100%);
    gap: space(4);

    @include mq('small') {
      text-align: center;
    }
  }

  &__logo {
    @include dimension(10rem, 10rem)
  }

  &__title {
    @include typography(h4);
  }

  &__component {
    @include dimension(100%);
    @include flex($dir: column);
    gap: space(3);
  }

  &__bottom {
    @include dimension(100%)
  }
}